<div style="margin-left: 5%; margin-right: 5%; padding-left: 20px;
  padding-right: 20px; background-color: #ffffff">
  <div fxLayout="row wrap" fxLayoutAlign="start center">
        <mat-form-field style="margin-top: 0px; margin-bottom: -10px; width: 30%;">
            <input matInput placeholder={{lblTitBusqueda}} [(ngModel)]=txtBusc
            (keydown.enter)="buscarTxt()">
        </mat-form-field>
        <button mat-raised-button class="btn-agregar" (click)="buscarTxt()"
            style="margin-left: 30px; height: 40px;">
            <i class="fas fa-search fa-1x" style="margin-right:10px;
                font-size: 1.5em; cursor: pointer;"
                ></i> 
        </button>
    </div>

    <div *ngIf="codBusqueda=='LIBROEDITORIAL'" [hidden]="escondeTabla">
      <table mat-table [dataSource]="dataSourceLIBROEDITORIAL" style="width: 100%;">
    
        <!-- Columna titulo -->
        <ng-container matColumnDef="nombre" style="width: 100;">
          <th mat-header-cell *matHeaderCellDef
            style="width: 100;"> Editorial </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsLIBROEDITORIAL"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsLIBROEDITORIAL;"
        (click)="seleccionarFila(row)"
        style="cursor: pointer;"></tr>
      </table>
    </div>

    <div [hidden]="escondeTabla">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>

<div style="margin-left: 5%; margin-right: 5%; padding: 10px; background-color: #ffffff;
  text-align: center;"
  [hidden]="!escondeTabla">
    <h4 style="color: #a31611;">No se encontraron elementos con el criterio de búsqueda</h4>
</div>

<div style="text-align: center; margin-top: 20px;">
  <button mat-raised-button  mat-dialog-close class="btn-agregar">
      <i class="fas fa-window-close fa-1x" style="width: 20px; margin-right:10px;
          font-size: 1.5em; cursor: pointer;"
          ></i>
      Cerrar
  </button>
</div>